In [76]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [77]:
# IMPORTAÇÂO DOS DADOS
data = pd.read_csv(r'tempo.csv', sep= ';')

In [78]:
# VIZUALIZAÇÃO DOS DADOS
data.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Aparencia    14 non-null     object
 1   Temperatura  14 non-null     int64
 2   Umidade      13 non-null     float64
 3   Vento        13 non-null     object
 4   Jogar        14 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 688.0+ bytes

In [80]:
# VERIFICAÇÃO DOS DADOS NULOS
data.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [81]:
# ANÁLISE DA COLUNA APARÊNCIA
print(data.groupby(by=['Aparencia']).size(),'\nCAMPOS NULOS', data['Aparencia'].isnull().sum())

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64
CAMPOS NULOS 0

In [82]:
# TRATAMENTO DA COLUNA APARÊNCIA
data.loc[data['Aparencia'] == 'menos', 'Aparencia'] = sts.mode(data['Aparencia'])

In [83]:
# ANÁLISE DA COLUNA TEMPERATURA
print(data.groupby(by=['Temperatura']).size(),'\nCAMPOS NULOS', data['Temperatura'].isnull().sum())

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64
CAMPOS NULOS 0

In [84]:
# TRATAMENTO DA COLUNA TEMPERATURA
data.loc[(data['Temperatura'] > 130) | (data['Temperatura'] < -130), 'Temperatura'] = sts.median(data['Temperatura'])

In [85]:
# ANÁLISE DA COLUNA UMIDADE
print(data.groupby(by=['Umidade']).size(),'\nCAMPOS NULOS', data['Umidade'].isnull().sum())

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64
CAMPOS NULOS 1

In [86]:
# TRATAMENTO DA COLUNA UMIDADE
data.loc[(data['Umidade'] > 100) | (data['Umidade'] < 0), 'Umidade'] = sts.median(data['Umidade'])
data['Umidade'].fillna(sts.median(data['Umidade']), inplace=True)

In [87]:
# ANÁLISE DA COLUNA VENTO
print(data.groupby(by=['Vento']).size(),'\nCAMPOS NULOS', data['Vento'].isnull().sum())

Vento
FALSO         7
VERDADEIRO    6
dtype: int64
CAMPOS NULOS 1

In [88]:
# TRATAMENTO DA COLUNA VENTO
data['Vento'].fillna(sts.mode(data['Vento']), inplace=True)

In [89]:
# ANÁLISE DA COLUNA VENTO
print(data.groupby(by=['Jogar']).size(),'\nCAMPOS NULOS', data['Jogar'].isnull().sum())

Jogar
nao    5
sim    9
dtype: int64
CAMPOS NULOS 0