In [73]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [74]:
data = pd.read_csv(r'C:\Cursos\Formacao_Data_Science\10.Prática em Python\dados\COVID19 cases Toronto.csv')

In [75]:
# RENOMEANDO AS COLUNAS
data.rename(columns={'_id': 'ID','Outbreak Associated': 'Surto Associado', 'Age Group': 'Idade', 'Neighbourhood Name': 'Bairro', 'FSA': 'FSA',
'Source of Infection': 'Fonte de infecção', 'Classification': 'Classificação', 'Episode Date': 'Data do Episódio', 'Reported Date': 'Data Reportada',
'Client Gender': 'Gênero', 'Outcome': 'Resultado', 'Currently Hospitalized': 'Atualmente hospitalizado', 'Currently in ICU': 'Atualmente na UTI',
'Currently Intubated': 'Atualmente entubado', 'Ever Hospitalized': 'Já Hospitalizado', 'Ever in ICU': 'Sempre na UTI', 'Ever Intubated': 'Já intubado'}, 
inplace=True)

In [76]:
# ANÁLISE DOS DADOS DA BASE DE DADOS
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14911 entries, 0 to 14910
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        14911 non-null  int64
 1   Surto Associado           14911 non-null  object
 2   Idade                     14879 non-null  object
 3   Bairro                    14298 non-null  object
 4   FSA                       14344 non-null  object
 5   Fonte de infecção         14911 non-null  object
 6   Classificação             14911 non-null  object
 7   Data do Episódio          14911 non-null  object
 8   Data Reportada            14911 non-null  object
 9   Gênero                    14911 non-null  object
 10  Resultado                 14911 non-null  object
 11  Atualmente hospitalizado  14911 non-null  object
 12  Atualmente na UTI         14911 non-null  object
 13  Atualmente entubado       14911 non-null  object
 14  Já Hospitalizado          14911 non-null  object
 15  Sempre na UTI             14911 non-null  object
 16  Já intubado               14911 non-null  object
dtypes: int64(1), object(16)
memory usage: 1.9+ MB

In [77]:
# VERIFICAÇÃO DOS CAMPOS NULOS
data.isnull().sum()

ID                            0
Surto Associado               0
Idade                        32
Bairro                      613
FSA                         567
Fonte de infecção             0
Classificação                 0
Data do Episódio              0
Data Reportada                0
Gênero                        0
Resultado                     0
Atualmente hospitalizado      0
Atualmente na UTI             0
Atualmente entubado           0
Já Hospitalizado              0
Sempre na UTI                 0
Já intubado                   0
dtype: int64

In [78]:
# VERIFICAÇÃO DE DUPLICATAS
data[data.duplicated(['ID'],keep=False)]

Empty DataFrame
Columns: [ID, Surto Associado, Idade, Bairro, FSA, Fonte de infecção, Classificação, Data do Episódio, Data Reportada, Gênero, Resultado, Atualmente hospitalizado, Atualmente na UTI, Atualmente entubado, Já Hospitalizado, Sempre na UTI, Já intubado]
Index: []

In [79]:
# VERIFICAÇÃO DA COLUNA 'Surto Associado'
print(data.groupby(by=['Surto Associado']).size(), '\n\nCAMPOS NULOS:', data['Surto Associado'].isnull().sum())

Surto Associado
Outbreak Associated    5578
Sporadic               9333
dtype: int64

CAMPOS NULOS: 0

In [80]:
# VERIFICAÇÃO DA COLUNA 'Idade'
print(data.groupby(by=['Idade']).size(), '\n\nCAMPOS NULOS:', data['Idade'].isnull().sum())

Idade
19 and younger     915
20-29             2135
30-39             2101
40-49             2095
50-59             2354
60-69             1598
70-79             1052
80-89             1531
90+               1098
dtype: int64

CAMPOS NULOS: 32

In [81]:
# TRATAMENTO DOS DADOS DA COLUNA 'Idade'
data['Idade'].fillna(sts.mode(data['Idade']), inplace=True)

In [82]:
# VERIFICAÇÃO DA COLUNA 'Bairro'
print(data.groupby(by=['Bairro']).size(), '\n\nCAMPOS NULOS:', data['Bairro'].isnull().sum())

Bairro
Agincourt North                  79
Agincourt South-Malvern West     52
Alderwood                        40
Annex                            83
Banbury-Don Mills                37
                               ...
Wychwood                         79
Yonge-Eglinton                   14
Yonge-St.Clair                   26
York University Heights         421
Yorkdale-Glen Park              193
Length: 140, dtype: int64

CAMPOS NULOS: 613

In [83]:
# TRATAMENTO DOS DADOS DA COLUNA 'Bairro'
data['Bairro'].fillna(sts.mode(data.loc[data['Bairro'] != 'nan']), inplace=True)

In [84]:
# VERIFICAÇÃO DA COLUNA 'FSA'
print(data.groupby(by=['FSA']).size(), '\n\nCAMPOS NULOS:', data['FSA'].isnull().sum())

FSA
M1B    296
M1C    232
M1E    441
M1G    212
M1H     89
      ...
M9N    346
M9P    245
M9R    365
M9V    850
M9W    417
Length: 96, dtype: int64

CAMPOS NULOS: 567

In [85]:
# TRATAMENTO DOS DADOS DA COLUNA 'FSA'
data['FSA'].fillna(sts.mode(data['FSA']), inplace=True)

In [86]:
# VERIFICAÇÃO DA COLUNA 'Fonte de infecção'
print(data.groupby(by=['Fonte de infecção']).size(), '\n\nCAMPOS NULOS:', data['Fonte de infecção'].isnull().sum())

Fonte de infecção
Close contact                4998
Community                    1991
Healthcare                    897
Institutional                 301
N/A - Outbreak associated    5578
Pending                       294
Travel                        488
Unknown/Missing               364
dtype: int64

CAMPOS NULOS: 0

In [87]:
# VERIFICAÇÃO DA COLUNA 'Classificação'
print(data.groupby(by=['Classificação']).size(), '\n\nCAMPOS NULOS:', data['Classificação'].isnull().sum())

Classificação
CONFIRMED    13686
PROBABLE      1225
dtype: int64

CAMPOS NULOS: 0

In [88]:
# VERIFICAÇÃO DA COLUNA 'Data do Episódio '
print(data.groupby(by=['Data do Episódio']).size(), '\n\nCAMPOS NULOS:', data['Data do Episódio'].isnull().sum())

Data do Episódio
2020-01-21     1
2020-01-22     1
2020-02-01     1
2020-02-05     1
2020-02-07     1
              ..
2020-07-09    20
2020-07-10    21
2020-07-11    19
2020-07-12     9
2020-07-13     1
Length: 149, dtype: int64

CAMPOS NULOS: 0

In [89]:
# VERIFICAÇÃO DA COLUNA 'Data Reportada'
print(data.groupby(by=['Data Reportada']).size(), '\n\nCAMPOS NULOS:', data['Data Reportada'].isnull().sum())

Data Reportada
2020-01-23     2
2020-02-21     1
2020-02-25     1
2020-02-26     1
2020-02-27     1
              ..
2020-07-09    58
2020-07-10    41
2020-07-11    40
2020-07-12    36
2020-07-13    10
Length: 142, dtype: int64

CAMPOS NULOS: 0

In [90]:
# VERIFICAÇÃO DA COLUNA 'Gênero'
print(data.groupby(by=['Gênero']).size(), '\n\nCAMPOS NULOS:', data['Gênero'].isnull().sum())

Gênero
FEMALE         7909
MALE           6747
OTHER             6
TRANSGENDER       7
UNKNOWN         242
dtype: int64

CAMPOS NULOS: 0

In [91]:
# VERIFICAÇÃO DA COLUNA 'Resultado'
print(data.groupby(by=['Resultado']).size(), '\n\nCAMPOS NULOS:', data['Resultado'].isnull().sum())

Resultado
ACTIVE        595
FATAL        1121
RESOLVED    13195
dtype: int64

CAMPOS NULOS: 0

In [92]:
# VERIFICAÇÃO DA COLUNA 'Atualmente hospitalizado'
print(data.groupby(by=['Atualmente hospitalizado']).size(), '\n\nCAMPOS NULOS:', data['Atualmente hospitalizado'].isnull().sum())

Atualmente hospitalizado
No     14760
Yes      151
dtype: int64

CAMPOS NULOS: 0

In [93]:
# VERIFICAÇÃO DA COLUNA 'Atualmente na UTI'
print(data.groupby(by=['Atualmente na UTI']).size(), '\n\nCAMPOS NULOS:', data['Atualmente na UTI'].isnull().sum())

Atualmente na UTI
No     14882
Yes       29
dtype: int64

CAMPOS NULOS: 0

In [95]:
# VERIFICAÇÃO DA COLUNA 'Atualmente entubado'
print(data.groupby(by=['Atualmente entubado']).size(), '\n\nCAMPOS NULOS:', data['Atualmente entubado'].isnull().sum())

Atualmente entubado
No     14886
Yes       25
dtype: int64

CAMPOS NULOS: 0

In [96]:
# VERIFICAÇÃO DA COLUNA 'Já Hospitalizado'
print(data.groupby(by=['Já Hospitalizado']).size(), '\n\nCAMPOS NULOS:', data['Já Hospitalizado'].isnull().sum())

Já Hospitalizado
No     13063
Yes     1848
dtype: int64

CAMPOS NULOS: 0

In [97]:
# VERIFICAÇÃO DA COLUNA 'Sempre na UTI'
print(data.groupby(by=['Sempre na UTI']).size(), '\n\nCAMPOS NULOS:', data['Sempre na UTI'].isnull().sum())

Sempre na UTI
No     14511
Yes      400
dtype: int64

CAMPOS NULOS: 0

In [100]:
# VERIFICAÇÃO DA COLUNA 'Já intubado'
print(data.groupby(by=['Já intubado']).size(), '\n\nCAMPOS NULOS:', data['Já intubado'].isnull().sum())

Já intubado
No     14624
Yes      287
dtype: int64

CAMPOS NULOS: 0

In [99]:
data.isnull().sum()

ID                          0
Surto Associado             0
Idade                       0
Bairro                      0
FSA                         0
Fonte de infecção           0
Classificação               0
Data do Episódio            0
Data Reportada              0
Gênero                      0
Resultado                   0
Atualmente hospitalizado    0
Atualmente na UTI           0
Atualmente entubado         0
Já Hospitalizado            0
Sempre na UTI               0
Já intubado                 0
dtype: int64

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14911 entries, 0 to 14910
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        14911 non-null  int64
 1   Surto Associado           14911 non-null  object
 2   Idade                     14911 non-null  object
 3   Bairro                    14911 non-null  object
 4   FSA                       14911 non-null  object
 5   Fonte de infecção         14911 non-null  object
 6   Classificação             14911 non-null  object
 7   Data do Episódio          14911 non-null  object
 8   Data Reportada            14911 non-null  object
 9   Gênero                    14911 non-null  object
 10  Resultado                 14911 non-null  object
 11  Atualmente hospitalizado  14911 non-null  object
 12  Atualmente na UTI         14911 non-null  object
 13  Atualmente entubado       14911 non-null  object
 14  Já Hospitalizado          14911 non-null  object
 15  Sempre na UTI             14911 non-null  object
 16  Já intubado               14911 non-null  object
dtypes: int64(1), object(16)
memory usage: 1.9+ MB